@import url('https://fornts. googleapis.com/css2?family=Montserrat: ital,wgth@0,300;1,300;1,600&display=swap');

body{
	font-family: source sans pro,sans-serif;
	margin: 0;
}
h1{
	text-align: center;
}
nav{
	background-color: green;
	border-top: 2px solid lightgreen;
	border-bottom: 2px solid lightgreen;
}
main{
	max-width: 1000px;
	margin: 20px auto;
	display: block;

}
footer{
	text-align: center;
	border-top: 1px solid gray;
	padding: 10px;
	background-color: green;
	color: white;
}
nav ul{
	list-style-type: none;
	text-align: center;
	margin-top: 10px;
}
nav li{
	display: inline;
}
nav a{
	text-decoration: none;
	padding-right: 10px;
}
nav a:Link{
	color: white;
}
nav a:visited{
	color: white;
}
nav a:hover{
	color: yellow;
}
nav a:active{
	color: black;
}
td,th{
  border:1px solid black;
}
th{
	background-color: green;
	color: white;
}
table{
  border-collapse:collapse;
  text-align: center;
}
label{
	float: left;
	width: 8em;
	padding-right: 1em;
	curson: default;
}
input, textarea{
	margin-bottom:1em ;
	display: block;
	border-radius: 5px;
}
textarea{
	height: 100px;
	margin-top: 10px;
}
input[type=submit]{
	background-color: gray;
}
form{
	background-color: lightgreen;
	border: 1px solid yellow;
	padding: 10px 30px;
	max-width: 350px;
	margin: 0 auto;
	box-shadow: 2px 2px 2px gold;
}
.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.center{
	text-align: center;
}
.image{
	border-radius: 5px;
	margin-top: 20px;
}

.home-hero-img{
	margin: 0;
	display: block;
	text-align: center;
}

/*This is for footer*/
a {
	color: blue;
}

a:hover{
	color: lime;
}

.footer-bottom {
	text-align: center;
	background-color: lime;
	color: black;	
}

.col-sm-5 {
	text-align: left;
	margin-inline-start: 80px;
	color: black;
}


.icons .fa{
    color: blue;
}

.footer1000{
	padding: 20px 0 ;
    max-width:1000px;
    margin:0 auto;
    
}
.col-sm-6 {
	color: black;
}

.fa {
	color: blue;
}



.col-sm-5 .fa:hover{
	color: lime;
}
/*End footer*/

/* portfoile css start here*/



.pichome {
	background-image: url(image/backhome.jpg);
	text-align: center;
	color: lime;
	font-family: cursive;
	border-radius: 20px;
	margin: 20px;
}

.port {
	border-radius: 10px;
}

.work {
	border-radius: 10px;
}

.work1:hover{
	opacity: .8;
}


.fa-pagelines {
	color: green;
}

.fa-certificate{
	color: gold;
}

.fa-gamepad {
	color: black;
}

.Learn:hover{
	background-color: lightsalmon;
}
.col-big-3 {
	text-align:center;
}

.Learn {
	background-color: blue;
	border-radius: 5px;
	color: white;
}


.col-sm-4 .fa {
	font-size: 8em;
	text-align: center;
}

.web {
	text-align: left;
}

.gallery-thumbnails img {
	width: 200px;
	height: 100px;
	border-radius: 10px;
	margin: 10px 10px 10px 0;
	border: 5px solid black;
}

.preview img{
	border: 5px solid black;
}
.port:hover{
	opacity: .8;
}

/* portfoile css end here*/

/*Resume css*/

 .resume{
	margin: 30px auto;
	border: 2px solid #dddddd;
	box-shadow: 2px 2px 2px black;
	padding:30px 5%;
	max-width: 800px;
}
.resume-content{
	border-left: 6px solid white;
	padding-left: 20px;
}


header img {
	margin: 0 auto;
	display: block;
	max-width: 250px;
	height: auto;
}

header {
	background-color: lime;
}

canvas {
	display: block;
	margin:0 auto;
    border:4px solid orange;
    background-color: darkblue;
    background-image: url(image/ifa.jpg);
}
.mybutton{
	color: black;
}
.game-controls{
	text-align: center;
	padding: 20px;
}
.mobile{
	display:none;
}

@media only screen and (max-width: 1024px){
	h1{
		font-size: 2em;
		text-align: center;
	}
}
@media only screen and (max-width: 768px){
	h1{
		font-size: 1.5em;
		text-align: center;
	}

	.htmlform {
		margin: 10px;
	}

	.image{
		margin: 60px;
	}

	.web {
		margin: 10px;
	}
	.col-sm-5 {
		margin: 0 auto;
		margin-bottom: 15px;
	}

	.desktop{
		display:none;
	}
	.mobile{
		display: block;
		touch-action: manipulation;
	}


}
